<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='master.css') }}">
        <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    </head>
    <body>
        <section class="flex-fill gradient-custom">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                  <div class="card bg-light text-black" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
          
                      <div class="mb-md-5 mt-md-4 pb-2">
          
                        <h2 class="fw-bold mb-2 text-uppercase text-dark-50">PNEUMATIC DOOR</h2>
                        <p class="text-black-50 mb-5">ProbePlus Innovative Solutions</p>
                            <div class="row justify-content-center ">
                            <a href="/dooropen/on">
                            <button class="btn btn-outline-success btn-lg px-5  my-3" type="submit">Open</button>
                            </a>
                            </div>
                            <div class ="row justify-content-center ">
                            <a href="/doorclose/on">
                            <button class="btn btn-outline-danger btn-lg px-5" type="submit">Close</button>
                            </a>
			    </div>
			    <form action = "{{ url_for('repeat') }}"  method = "POST">
				<div class = "row justify-content-left mt-2">
                              <div class = "col-6">
                                <label style="float:left">Repeat</label>
                                <input type="text" pattern="\d*" maxlength="3" class="form-control input-lg border border-primary" Name='num1'>
                              </div>
                              <div class = "col-6">
                              <input class="btn btn-info rst-btn btn-md mr-sm-3 mt-4 ml-8 px-4 " type="submit" value="submit">
                              </div>
				</form>

			         <!--form method='get' action=\"/repeat\">
   <label>Repeat:</label>
   <input name=\'repeat' length=5>
   <input type='submit' value='Start'></form-->
                            </div>
                          </div>
                      </div>
                        
                    </div>
                  </div>
                </div>
                

              </div>
            </div>
          </section>
    </body>
</html>
